/* Comment */
body {
  color: #333333;
  font-family: 'Merriweather', serif;
  margin: 0;
}

img {
  width: 100%;
}

article {
  margin-left: auto;
  margin-right: auto;
  max-width: 668px;
}

h1,
h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 900;
}

h2 {
  color: #666666;
  font-size: 27px;
  font-weight: normal;
  margin-top: 0;
}

p {
  font-size: 21px;
  line-height: 33px;
}

a {
  color: #333333;
}
